#!/bin/bash

# Example .env file, fill it up with your json_resume GIST_ID
# https://gist.github.com/{your_gh_username/{your_gist_id_here}
GIST_ID=xyz123

# Public S3 bucket URL for CV PDF upload (e.g. s3://your-bucket-name)
S3_BUCKET_URL=s3://your-bucket-name
